@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: 'Roboto Condensed Variable', sans-serif;
}


.cuted-corner {
  position: relative;
  background: linear-gradient(135deg, #000000 90%, transparent 10%);
  z-index: 1;
  cursor: pointer;
  transition: 0.25s linear;
}

.cuted-corner:hover {
  color: white;
}

.cuted-corner:before {
  content: "";
  position: absolute;
  background: linear-gradient(135deg, #EC1D24 90%, transparent 10%);
  bottom: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.25s linear;
}

.cuted-corner:hover:before {
  bottom: 0;
}

.cuted-corner-details {
  position: relative;
  background: linear-gradient(135deg, #000000 97%, transparent 3%);
}

.scrollable-element {
  scrollbar-color: #EC1D24 #D9D9D9;
}

.loading-bar {
  animation: animate 1s linear forwards;
}

@keyframes animate {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}